.info-experience {
  color: var(--text-secondary-color);
  display: grid;
}

.info-experience-main-title,
.info-experience-header {
  color: var(--text-main-color);
  text-align: center;
}

.info-experience-header {
  display: flex;
}

.info-experience-title {
  margin-left: 2%;
}

.info-experience-description {
  font-size: 12px;
  text-align: justify;
}

.info-experience-contacts-description {
  display: flex;
  justify-content: space-between;
}

.info-experience-contacts-description input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contacts-img {
  transition: fill 0.3s ease;
}

.contacts-img:hover {
  fill: var(--text-main-color);
}
