/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import 'variables.css';
@import 'modal.css';

* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.game-page {
  display: grid;
  grid-template-columns: 1fr 30%;
}

.game {
  width: 100%; /* Принимаем ширину контейнера как 100% */
  height: 100%; /* Задаем высоту контейнера равную высоте видимой области экрана */
  display: grid; /* Используем grid */
  place-items: center; /* Центрируем содержимое контейнера */
}

.particles-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  /* height: 100%; */
}

.info {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10%;
  justify-items: center;
}

.info-skills {
  width: 100%;
  max-width: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.skills-icon {
  color: var(--main-color);

  position: relative;
}

.skills-icon-overlay {
  position: absolute;
  background-color: black;
  color: var(--text-secondary-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.skills-icon-overlay:hover {
  opacity: 0.8;
}

.skills-icon-overlay:active {
  opacity: 0.8;
}

.info-projects {
  width: 100%;
  max-width: 350px;
  position: relative;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 30%;
}

.slider-item {
  height: 28vh;
  position: relative;
}

.slider-item-image-overlay {
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider-item-image-overlay:hover {
  opacity: 0.8;
}

.slider-item-image-overlay:active {
  opacity: 0.8;
}

.slider-item-image-overlay a {
  margin: 5px;
  color: var(--main-color);
}

.slider-item-image-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color); /* Выберите любой цвет, который вам нужен */
}

.swiper-pagination-bullet {
  background-color: var(--main-color); /* Выберите любой цвет, который вам нужен */
}

.info-experience {
  width: 100%;
  max-width: 350px;
  /* background-color: var(--secondary-color); */
}

.game-field-wrapper {
  width: 70%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2), /* внутреннее свечение */ 0 0 20px 10px rgba(202, 165, 255, 0.5); /* внешнее свечение */
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3), 0 0 20px 10px rgba(202, 165, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2), 0 0 20px 15px rgba(202, 165, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3), 0 0 20px 10px rgba(202, 165, 255, 0.6);
  }
}

@media screen and (max-width: 700px) {
  .game-page {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .game {
    height: 100vh;
    height: auto;
  }

  .info {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .wrapper {
    width: 100%;
  }

  .info-projects {
    width: 100%;
  }

  .info-experience {
    width: 100%;
  }

  .info-skills {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .game-field-wrapper {
    width: 640px;
  }
}

.column-one {
  position: absolute;
  background-color: var(--background-color);
  width: 16%;
  height: 20%;
  bottom: 0;
  left: 0;
}

.hero {
  content: ' ';
  position: absolute;
  background-color: var(--background-color);
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.hero::after {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  bottom: -20%;
  left: 5%;
  width: 30%;
  height: 30%;
  background-color: var(--main-color);
  z-index: 10;
}

.hero::before {
  content: ' ';
  position: absolute;
  border-radius: 50%;
  bottom: -20%;
  left: 65%;
  width: 30%;
  height: 30%;
  background-color: var(--main-color);
  z-index: 10;
}

.hero-band {
  content: ' ';
  position: absolute;
  top: 20%;
  left: -10%;
  width: 110%;
  height: 10%;
  background-color: var(--main-color);
}

.hero-eye {
  position: absolute;
  top: 25%;
  left: calc(100% - 25%);
  width: 20%;
  height: 20%;
  border-radius: 20%;
  background-color: var(--text-secondary-color);
}

.rotate {
  transform-origin: bottom;
  animation: rotateHourHand 1s linear 1 forwards;
}

@keyframes rotateHourHand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.column-two__logo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 10px; */
}

.home {
  width: 100%;
}

.home-hello {
  width: 100%;
  display: grid;
  grid-template-columns: 60% auto;
}

@media screen and (max-width: 1280px) {
  .home-hello {
    grid-template-columns: auto;
    margin: 10px;
  }

  .home__hello-text-header {
    justify-items: center;
    margin-bottom: 10px;
  }
}

.home__hello-text {
  width: 100%;
  color: var(--text-main-color);
  margin-bottom: 10%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.home__hello-text-header {
  text-align: left;
  align-self: center;
}

.home__buttons {
  display: flex;
  justify-content: left;
}

.home__button {
  align-self: center;
  background: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 5%;
  text-align: center;
}

.home__button:hover {
  color: var(--text-main-color);
}

.home__button.fun {
  background: linear-gradient(90deg, #d83f87 0%, #c150ba 50%, #a761dd 100%);
}

.home__button.fun:hover {
  color: white;
  animation: pulse 4s infinite;
}

.home__hello-text h1 {
  background: linear-gradient(90deg, #d83f87 0%, #c150ba 50%, #a761dd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__hello-avatar {
  background-image: url('./assets/ava/ava.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  box-shadow: inset 0 0 0 9px rgb(255, 255, 255 / 30%);
  order: 1;
  justify-self: center;
  animation: ava_animation 8s ease-in-out infinite 1s;
  border: 1px solid var(--main-color);
}

@keyframes ava_animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
